<div class="container">
    <div class="row" >
        <a href="/signupPage" class="btn btn-warning w-75">SignUp</a>
    </div>
    <div class="row">
        <a href="/loginPage" >LogIn</a>
    </div>
</div>
